/* ==========================================================================
   Syntax Highlighting (Rouge - Monokai)
   ========================================================================== */
.highlight {
  /* Comments */
  .c, .ch, .cd, .cpf, .cm, .c1 {
    color: #75715e;
    font-style: italic;
  }

  .cp, .cs {
    color: #75715e;
    font-weight: bold;
  }

  /* Errors */
  .err {
    color: #960050;
  }

  /* Diffs */
  .gi {
    color: #a6e22e;
  }

  .gd {
    color: #f92672;
  }

  /* Keywords */
  .k, .kv, .kc, .kd, .kp, .kr, .kt {
    color: #66d9ef;
    font-weight: bold;
  }

  .kn, .ow, .o {
    color: #f92672;
    font-weight: bold;
  }

  /* Numbers */
  .mf, .mh, .il, .mi, .mo, .m, .mb, .mx {
    color: #ae81ff;
  }

  .se {
    color: #ae81ff;
  }

  .sa {
    color: #66d9ef;
    font-weight: bold;
  }

  /* Strings */
  .sb, .sc, .sd, .s2, .sh, .si, .sx, .sr, .s1, .ss, .s, .dl {
    color: #e6db74;
  }

  /* Names/Attributes */
  .na {
    color: #a6e22e;
  }

  .nc, .nd, .ne, .nf, .fm {
    color: #a6e22e;
    font-weight: bold;
  }

  .no {
    color: #66d9ef;
  }

  /* Built-ins and variables */
  .bp, .nb, .ni, .nn, .vc, .vg, .vi, .nv, .vm, .w {
    color: #f8f8f2;
  }

  .nl {
    color: #f8f8f2;
    font-weight: bold;
  }

  /* Tags */
  .nt {
    color: #f92672;
  }
}
